.Rproj.user
.Rhistory
.RData
.Ruserdata
index.Rmd
01-D1S3_Imagenes_Satelitales.qmd
02-D1S4_Fundamentos_Bayesiana.qmd
03-D2S1_FGV.qmd
04-D2S2_Fay_Herriot_normal.qmd
05-D2S3_Fay_Herriot_arcosin.qmd
06-D2S4-Fay_Herriot_binomial.qmd
07-D2S4_Fay_Herriot_beta.qmd
08-D3S1_Modelo_unidad_ingresos.qmd
09-D3S2_Modelo_unidad_Estimacion_pobreza_a_partir_ingreso.qmd
10-D3S3_Modelo_unidad_pobreza.qmd
11-D3S4_Modelo_unidad_IPM.qmd
12-D4S1_Mercado_del_trabajo.qmd
13-D4S3_Mercado_del_trabajo_Cor.qmd
14-D4S3_Modelo_unidad_UNFPA.qmd
unnamed-chunk-51-1.svg